@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;

}

body {
    /* background-image: linear-gradient(to right bottom, #000000, #141414, #212121, #2f2f2f, #3d3d3d, #414042, #464447, #4b474c, #493f46, #48373e, #472f34, #442828); */
    background-image: url("./images/morocco-flag.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.bio{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px;
    
}
.bio h2,h1{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bio .line {   
    width: 10%;
    margin: 10px auto;
    background-color:rgb(103, 161, 95);
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 35px;
}

.center-content{
    align-self: center;
    height:100%;
    margin:25px ;
    width: 100% ;
    max-width: 550px;

}
.about-content{
    height: 250px;
    position: relative;
}
.content{
    border-radius:0 0 8px 8px ;
    width:100%;
    height: 100%;
    padding:15px 25px 25px;
    background-color: white;
    position:absolute;
    overflow: auto;
}

.content h3{
    text-transform: capitalize;
    letter-spacing:.8px;
}

.content h3::first-letter{
    color: rgb(233, 97, 97);
    font-size:35px ;
    font-style: bold;
}

.btn-container{
    display: flex;
    justify-content:space-between;
    text-align: center;
    margin:0 auto;
    width: 100%;
    background-color:rgb(201, 201, 201);
    border-radius:8px 8px 0 0;
}

.click-button{
    font-size: 20px;
    text-transform:capitalize;
    padding:8px 20px;
    border-radius: 8px 0 0;
    border: none;
    background-color:rgb(201, 201, 201);
    color:white;
    cursor: pointer;
    font-style:italic;
    font-family: "Helvetica Neue";
}

.click-button.active{
    background-color:white;
    color: rgb(103, 161, 95);
}

.content.active{
    z-index: 1;
}

.line{
    background-color:rgb(233, 97, 97);
    height: 2px;
    width: 40%;
    margin: 5px 0 10px;
}
.images{
    display: flex;
    max-width: 550px;
    width: 100%;
    height: 290px;
}

.images img{
    width: 100%;
    border-radius:8px;
    object-fit: fitt;
}

@media  screen and (max-width:824px) {
    .container{
        flex-direction: column;
    }  
    .images{
    margin: 0 auto;
    }
}